[submodule "globals"]
	path = globals
	url = git@github.com:jsutillib/globals.git
	update = merge
	branch = main
[submodule "common"]
	path = common
	url = git@github.com:jsutillib/common.git
	update = merge
	branch = main
[submodule "selection"]
	path = selection
	url = git@github.com:jsutillib/selection.git
	update = merge
	branch = main
